/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/utilities/general/clearfix
@import compass/css3

+font-face("Aenigma Scrawl", font-files("/fonts/aescrawl.ttf", truetype))

ul
  margin: 0.5em 0
  padding: 0 0 0 40px
  list-style-type: disc

body
  margin: 20px auto
  width: 960px

.person
  padding-top: 20px
  font-size: 12px
  .heading
    +apply-transform(rotate(-50deg))
    max-width: 10px
    position: relative
    bottom: 5px
  .check_box
    padding: 0
    margin: 0
    input
      padding: 0
      margin: 0

.schedule
  +pie-clearfix

  form
    padding: 0 0 10px

  .timetable
    float: left
    .users
      min-width: 20px

  .people
    float: left
    margin-left: 20px

  table
    font-size: 12px
  th, td
    padding: 2px 0.5em
    border: 1px solid white
  th
    color: white
    background-color: #444
  tr
    background-color: #ddd
  tr.odd
    background-color: #eee
  tr.even
    background-color: #ddd

.flash
  height: 20px
  margin: 10px 0

  .notice, .alert
    font-size: 12px
    padding: 4px 1em

  .notice
    background-color: #eae

  .alert
    background-color: #eaa

.field_with_errors
  color: #a44

h1, h2, h3, h4, .biline
  font-family: "Aenigma Scrawl", serif

h1, h2, h3, h4
  color: blue
h1
  font-size: 300%

p
  margin-bottom: 0.5em

#drawing, #drawarea
  border: 4px solid #ccc
  float: left

button
  float: left
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 1px solid rgba(0, 0, 0, 0.5)

button
  background-color: #d93ff0 !important
  /* Change the colour of the button here
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.4)))
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4))

button:hover
  /* BUG! - must inlude "a" before class name for gradient to work in FF
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(0, 0, 0, 0.3)))
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3))

button:active
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.2)))
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2))

button:active span
  border: 1px solid rgba(255, 255, 255, 0.2)
  border-top: 1px solid rgba(255, 255, 255, 0.4)

