<h2>Welcome</h2>

<p>
This site helps you figure out what hours of the day you share with your
Internet friends who live around the world in different time zones.

<h2>Instructions</h2>

<ol>
  <li> Create a schedule
  <li> Copy the address of the schedule page from the browser address bar
  <li> Send it to your friends so they can add themselves to it
  <li> Revisit the schedule (or reload the browser) after they've added themselves, to see what times you all have in common
  <li> Highlight a time, copy the address from the browser again, and send it to people to tell them what time you've picked (they'll see it in their timezone)
</ol>

<p>
<%= link_to 'Create a schedule', new_schedule_path %>
