<h2>Welcome</h2>

<p>
This site helps you figure out what hours of the day you share with your
Internet friends who live around the world in different time zones.

<h2>Instructions</h2>

<ol>
  <li> Create a schedule.
  <li> Copy the address of the schedule from the browser address bar.
  <li> Send it to your friends so they can add themselves to it.
  <li> Revisit the schedule (or reload the browser) to see what times you all have in common.
</ol>

<p>
Start by <%= link_to 'creating a new schedule', new_schedule_path %>.
