%section.welcome
  %h2 Welcome!
  %p
    This site helps you figure out what hours of the day you share with your
    Internet friends who live around the world in different time zones.
  %p
    Start by #{link_to 'creating a new schedule', new_schedule_path}.
