//= require_self

@import bootstrap-sprockets
@import bootstrap
@import compass/css3

// ------------------------------------------------------------
// layout

$blueprint_grid_columns: 24
$blueprint_grid_width: 20px
$blueprint-grid-margin: 20px

$default-fg: #444
$heading-fg: blue
$link-fg: $default-fg
$link-hover-fg: $heading-fg
$table-heading-fg: $default-fg
$table-heading-bg: #c4bcbc
$table-light-bg: #f4eeee
$table-dark-bg: #e4dddd
$highlight-fg: black
$highlight-bg: #f28c8c

=notice-color
  background-color: $table-heading-bg

=alert-color
  color: $highlight-fg
  background-color: $highlight-bg

=table-heading-color
  color: $table-heading-fg
  background-color: $table-heading-bg

=heading
  color: $heading-fg
  a
    text-decoration: none
    color: $heading-fg

// ------------------------------------------------------------
// baseline

body
  margin: 20px auto
  width: 940px
  color: $default-fg
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 16px

header, article, footer
  margin: 20px 0

h1, h2, h3, h4
  +heading

// ------------------------------------------------------------
// forms

.buttons
  margin: 10px 0

.field
  margin: 10px 0

.field_with_errors
  display: inline
  padding: 5px 0.5em
  +alert-color
  +border-radius(5px)

.field.available_at
  font-size: 12px
  margin-top: 20px
  .heading
    +transform(rotate(-50deg))
    max-width: 10px
    position: relative
    padding-bottom: 1em
  .check_box
    padding: 0
    margin: 0
    input
      display: none
    label
      width: 40px
      height: 20px
      background-color: lightgrey
      border: 1px solid white
      margin: 0
      padding: 0
      display: block
    input:checked + label
      background-color: pink !important
  tbody th
    padding-right: 1em

// ------------------------------------------------------------

.schedule
  //+container

  .info
    //+column(8)

    .people
      h2
        float: left
      .add
        float: right
        line-height: 28px
      table
        clear: both
        .options
          white-space: nowrap

  .component.timetable
    //+column(16)
    //+last
    h2
      float: left
    form
      float: right
    table
      clear: both
      .entry
        min-width: 20px

  .component
    h2
      margin-top: 0
    &.timetable, &.people
      table
        width: 100%
        font-size: 12px
        font-family: sans-serif
      th, td
        padding: 2px 0.5em
        border: 1px solid white
        vertical-align: top
      th
        +table-heading-color
        white-space: nowrap
      .odd
        background-color: $table-light-bg
      .even
        background-color: $table-dark-bg

  .component
    margin-bottom: 20px

// ------------------------------------------------------------

header
  //+container

  .title
    //+column(12)
    h1
      margin: 0

  .flash
    //+column(12)
    //+last

    p
      margin: 0
      padding: 5px 1em

    .notice, .alert
      text-align: center
      font-size: 11px
      font-weight: bold
      +border-radius(5px)
      line-height: 54px

    .notice
      +notice-color

    .alert
      +alert-color

// ------------------------------------------------------------

footer
  font-size: 13px
  text-align: right
  color: #888
  border-top: 1px dashed #888

